<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>quarter-back.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>900A4A431E48140A005D5735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>900A4A571E48140A005D5735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>900A4A621E48140A005D5735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
